
<!-- If there is any error message, do not show the edit account form -->
<div class="alert alert-danger font-bold text-xl text-center" role="alert" *ngIf="errorStatus == '404'">
  {{ errorMessage + " !" }}
</div>

<div class="flex justify-center" *ngIf="errorStatus != '404'">
  <div class="form-container flex flex-col w-2/4 px-5 pb-2">
    <div class="flex my-4 items-center">
      <div class="title text-orange-600 text-3xl font-bold">Edit Account</div>
      <div class="text-2xl font-semibold mx-3">: {{ user.fname }}</div>
    </div>

    <form #editUserForm="ngForm">
      <!-- personal information -->
      <div class="form-group flex flex-col">
        <div class="text-blue-400 text-lg pb-2">Personal Information</div>
        <div>
          <label class="form-lable">First Name *</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [(ngModel)]="user.fname"
            #name="ngModel"
          />
          <div
            *ngIf="name.errors?.['required']"
            class="form-text text-danger"
            role="alert"
          >
            First name is required.
          </div>
        </div>
        <!-- <h2>{{ user | json }}</h2> -->
        <!-- <div *ngIf="name.errors?.['required']">Name is required.</div>
        <div *ngIf="name.errors?.['minlength']">First Name cannot less than 10 characters</div> -->
        <div>
          <label class="form-lable pt-2">Last Name *</label>
          <input
            type="text"
            id="lname"
            name="lname"
            class="form-control"
            required
            [(ngModel)]="user.lname"
            #lname="ngModel"
          />
          <div
            *ngIf="lname.errors?.['required']"
            class="alert alert-danger"
            role="alert"
          >
            Last name is required.
          </div>
        </div>

        <div class="flex row">
          <div class="col">
            <label class="form-lable pt-2">Gender</label>
            <select class="form-select" aria-label="Gender">
              <option selected>{{ user.gender }}</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>

          <div class="col">
            <label class="form-lable pt-2">Day of birth</label>
            <input
              class="form-control"
              type="date"
              [(ngModel)]="user.birthDate"
              name="birthdate"
            />
          </div>
        </div>
      </div>

      <!-- contact information -->
      <div class="form-group flex flex-col">
        <div class="text-blue-400 text-lg py-2">Contact Information</div>
        <div>
          <label class="form-lable">Email *</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            required
            minlength="6"
            [(ngModel)]="user.email"
            #theemail="ngModel"
            email="true"
          />

          <div
            *ngIf="theemail.errors?.['email']"
            class="alert alert-danger"
            role="alert"
          >
            Email is invalid.
          </div>
          <div
            *ngIf="theemail.errors?.['required']"
            class="alert alert-danger"
            role="alert"
          >
            Email is required.
          </div>
        </div>

        <div>
          <label class="form-lable pt-2">Address</label>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="user.address"
            name="address"
          />
        </div>

        <div class="flex row">
          <div class="col">
            <label class="form-lable pt-2">Sub-district</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="user.subDistrict"
              name="subdistrict"
            />
          </div>

          <div class="col">
            <label class="form-lable pt-2">District</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="user.district"
              name="district"
            />
          </div>
        </div>

        <div class="flex row">
          <div class="col">
            <label class="form-lable pt-2">Province</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="user.province"
              name="province"
            />
          </div>

          <div class="col">
            <label class="form-lable pt-2">Country</label>
            <input
              class="form-control"
              [(ngModel)]="user.country"
              name="country"
            />
          </div>
        </div>

        <div class="flex row">
          <div class="col">
            <label class="form-lable pt-2">Postal code</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="user.postalCode"
              name="postalCode"
            />
          </div>

          <div class="col">
            <label class="form-lable pt-2">Phone number *</label>
            <input
              type="text"
              id="phone"
              name="phone"
              class="form-control"
              required
              [(ngModel)]="user.phone"
              #phone="ngModel"
              pattern="[- +()0-9]{9,12}"
            />
            <div
              *ngIf="phone.errors?.['pattern']"
              class="alert alert-danger"
              role="alert"
            >
              Phone number is invalid
            </div>
            <div
              *ngIf="phone.errors?.['required']"
              class="alert alert-danger"
              role="alert"
            >
              Phone number is required
            </div>
          </div>
        </div>
      </div>

      <!-- password -->
      <div class="form-group">
        <div class="text-blue-400 text-lg py-2">Want to change password ?</div>
        <div class="flex row">
          <div class="col">
            <label class="form-lable">Password *</label>
            <input
              type="text"
              id="password"
              name="password"
              class="form-control"
              required
              minlength="8"
              [(ngModel)]="user.password"
              #password="ngModel"
            />
            <div
              *ngIf="password.errors?.['required']"
              class="alert alert-danger"
              role="alert"
            >
              Password is required.
            </div>
            <div
              *ngIf="password.errors?.['minlength']"
              class="alert alert-danger"
              role="alert"
            >
              Password must be at least 8 characters long.
            </div>
          </div>

          <div class="col">
            <label class="form-lable">Confirm Password *</label>
            <input
              type="text"
              id="cpassword"
              name="cpassword"
              class="form-control"
              required
              minlength="8"
              [ngModel]="user.password"
              #cPassword="ngModel"
            />
            <div
              *ngIf="cPassword.value != password.value"
              class="alert alert-danger"
              role="alert"
            >
              Password is not matched.
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row my-3 content-around">
      <button
        class="btn btn-success mx-2 px-5 col text-white"
        [disabled]="editUserForm.form.invalid"
        [disabled]="cPassword.value != password.value"
        (click)="onSubmit()"
      >
        SAVE
      </button>
      <button class="btn btn-primary mx-2 px-5 col text-white">CANCEL</button>
    </div>
  </div>
</div>
